#add-student {
    background-image: url("../images/salmon.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.header1 {
    font-size: xxx-large;
    border: 2px;
    padding: 12px;
    background-color: rgba(255, 255, 255,0.4);
    border-radius: 2rem;
}

.big-container {


    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;

}

.field-container {
    padding: 3rem 3rem 4rem 4rem;
    background-color: rgba(218, 95, 64, 0.9);
    /* background: linear-gradient(to right, #9c27b0, #8ecdff); */

    border-radius: 3rem;
    transition-duration: 0.5s;
}

.field-container:hover {
    transition-duration: 0.5s;
    background-color: #da5f40;
}

input {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.66);
    transition-duration: 0.5s;
}

input:hover {
    transition-duration: 0.5s;
    background-color: white;
}
input[name="name"]{
    width: 15rem;
}
input[name="gpa"]{
    width: 2.5rem;
}
input[name="email"]{
    width: 15rem;
}

select {
    padding: 0.5rem;
    margin: 1rem 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.66);
    transition-duration: 0.5s;
}

select:hover {
    transition-duration: 0.5s;
    background-color: white;
    
}

.btn-add {
    text-align: center;
    padding-top: 1rem;
}

.add-btn {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.66);
    transition-duration: 0.5s;
}

.add-btn:hover {
    transition-duration: 0.5s;
    background-color: white;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="date"]:focus{
border:2px solid #aaa;
border-radius:2rem;
outline:none;
transition:.3s;
-webkit-border-radius:2rem;
-moz-border-radius:2rem;
-ms-border-radius:2rem;
-o-border-radius:2rem;
border-color:rgb(255, 255, 255);
box-shadow:0 0 8px 0 rgb(0, 0, 0);
}

select:focus{
    border:2px solid #aaa;
    border-radius:2rem;
    outline:none;
    transition:.3s;
    -webkit-border-radius:2rem;
    -moz-border-radius:2rem;
    -ms-border-radius:2rem;
    -o-border-radius:2rem;
    border-color:rgb(255, 255, 255);
    box-shadow:0 0 8px 0 rgb(0, 0, 0);
}
