@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,400;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.Text {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}


.Text h1 {
  font-size: 65px;
}

.Text p {
  margin: 10px 0px 40px;
  font-size: 14px;
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* nav a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

nav>ul>li {
  list-style: none;
  padding: 20px;
  text-align: center;
} */


/* -----------NEW Navigation Bar -------------- */
nav>ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #24252A;
}



li {
  float: left;
}

li a {
  font-family: 'Montserrat', sans-serif;
  display: block;
  color: #edf0f1;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

li a:hover {
  color: #0088a9
}




/* ------------------HomePage---------------- */

.home-page {
  /* background-color: #24252A;
  background-position: center;
  background-size: cover;
  width: 500px;
  margin: 600px;
  padding: 500px 500px;  */

  min-height: 100vh;
  width: 100%;
  background-color: #24252A;
  background-position: center;
  background-size: cover;
  position: relative;
}


.text_ {
  text-align: center;
  font-size: 25px;
  width: 100%;
  color: #edf0f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}





/* Hover For Visit Our Home page */
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa {
  display: none;
}


/*-------------------------------------------------------------------------Search Student css-----------------------------------------------------------------------*/
#Search-Student-body {
  background-image: url("images/SearchStudent.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#welcome {
  color: rgb(106, 101, 101);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
}

.search-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}



.search-box:hover>.search-btn {
  background: #2f3640;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgb(106, 101, 101);
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 240px;
  padding: 0 6px;
  top: 50px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.3em;
  min-width: 600px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
}

.content-table thead tr {
  background-color: #060606;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 70px;

}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f36c;


}

.content-table tbody tr:hover {
  background-color: #dddddd;
}


.content-table tbody tr {
  font-weight: bold;
  color: #e84118;
}

#no-student {
  color: red;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 150px;
}

.search-box .show-names {
  visibility: hidden;
  /*width: 120px;*/
  cursor: pointer;
  background-color: rgb(250, 149, 66);
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 8px 5px;
  transform: translateX(10%);
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 15px;
}



.search-box:hover .show-names {
  visibility: visible;
  top: -70%;
}

/* ------------------------------edit-student-body------------------------------------ */

#edit-student-body {
  background-image: url(images/team2.jpeg );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* label {
  width: 10px;
  margin: 4px;
}

.form {
  border-radius: 10px;
  color: white;
  width: 500px;
  padding: 5px;
  margin: auto;


}

input[type="text"] {
  width: 450px;
  padding: 2px;
  font-size: 17px;
  border-radius: 10px;

}

input[name="gpa"] {
  width: 45px;
  padding: 2px;
  font-size: 17px;
  border-radius: 10px;

}



input[type="email"] {
  width: 450px;
  padding: 2px;
  font-size: 17px;
  border-radius: 10px;

}


h1 {
  text-align: center;
}

#delete-student {
  width: 250px;
  margin-top: 1px;
}

#edit-student {
  width: 250px;
  margin-left: 250px;
  margin-bottom: 5px;

} */