{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/CSS/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/CSS/edit-student.css'%}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/images/Logo-FCAI.jpg'%}"
    />
    <title>Edit Student</title>
  </head>
  <body id="edit-student-body">
    <nav>
      <ul>
        <li>
          <a href="index.html" name="index"> Home </a>
        </li>
        <li>
          <a href="view-students.html" name="view-students"> View students </a>
        </li>
        <li>
          <a href="edit-student-data.html" name="edit-student-data">
            Edit a student
          </a>
        </li>
        <li>
          <a href="add-student.html" name="add-student"> Add a new student </a>
        </li>
        <li>
          <a href="search-student.html" name="search-student">
            Search for a student
          </a>
        </li>
        <li>
          <a
            href="student-department-assignment.html"
            name="student-department-assignment"
          >
            Student department assignment
          </a>
        </li>
      </ul>
    </nav>
    <div class="big-container">
      <div>
        <h1 class="header1">Edit Student</h1>
      </div>
      {% for message in messages %}
      <h3 class="header3">{{message}}</h3>
      {% endfor %}
      <form
        id="edit_student_form"
        action="{% url 'edit-student-data' %}"
        method="post"
      >
        {% csrf_token %}
        <div class="field-container">
          <div class="studentID">
            <label><b>Student ID</b></label>
            <input
              id="studID"
              type="text"
              name="studentID"
              placeholder="Enter an ID"
              required
              value="{{ inform.studID }}"
            />
            <span class="fetch-tooltip">Input ID to fetch student details</span>
            <button class="add-btn" id="fetch-btn">Get Student Details</button>
          </div>

          <div class="student">
            <label><b>Student Name</b></label>
            <input
              type="text"
              name="name"
              placeholder="Enter a name"
              required
              value="{{ inform.name }}"
              autocomplete="off"
            />
          </div>

          <div class="date">
            <label> <b>Date of Birth</b></label>
            <input type="date" name="date" required value="{{ inform.date }}" />
          </div>

          <div class="gpa">
            <label><b>Student GPA</b></label>
            <input
              type="number"
              min="0"
              max="4"
              step="0.1"
              name="gpa"
              placeholder="0 - 4"
              required
              value="{{ inform.gpa }}"
              autocomplete="off"
            />
          </div>

          <div class="gender">
            <label
              ><b>Student's Gender <br /></b>
            </label>
            <div class="gender-pick">
              <select name="gender" id="gender">
                <option value="Empty"></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>

          <div class="level">
            <label
              ><b>Student's Level <br /></b
            ></label>
            <div class="level-pick">
              <select name="level" id="level">
                <option value="Empty"></option>
                <option value="lvl1">Level 1</option>
                <option value="lvl2">Level 2</option>
                <option value="lvl3">Level 3</option>
                <option value="lvl4">Level 4</option>
              </select>
            </div>
          </div>

          <div class="status">
            <label><b>Current status</b> <br /></label>
            <div class="status-pick">
              <select name="status" id="status">
                <option value="Empty"></option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
            </div>
          </div>

          <div class="department">
            <label><b>Student's Department</b></label>
            <select name="department" id="department" disabled>
              <option value="Empty"></option>
              <option value="General">General</option>
              <option value="CS">Computer Science</option>
              <option value="AI">Artificial Intelligence</option>
              <option value="IT">Information Technology</option>
              <option value="IS">Information Systems</option>
              <option value="DS">Decision Support</option>
            </select>
          </div>

          <div class="email">
            <label><b>Student E-mail</b></label>
            <input
              type="email"
              name="email"
              placeholder="name@example.com"
              value="{{inform.email}}"
              required
              autocomplete="off"
            />
          </div>

          <div class="phone">
            <label><b>Phone Number</b></label>
            <input
              type="tel"
              id="phone"
              name="mobile"
              placeholder="xxxxxxxxxxx"
              pattern="[0-9]{11}"
              required
              minlength="11"
              value="{{inform.mobile}}"
              autocomplete="off"
            />
          </div>

          <div class="btn-add">
            <button
              class="add-btn"
              name="action"
              value="update"
              id="update-btn"
              type="submit"
            >
              Update Student
            </button>
            <button
              class="add-btn"
              name="action"
              value="delete"
              id="delete-btn"
              type="submit"
            >
              Delete Student
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- to allow jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      let selectedDepartment = "{{inform.department}}";
      let selectedStatus = "{{inform.status}}";
      let selectedGender = "{{inform.gender}}";
      let selectedLevel = "{{inform.level}}";
      document.querySelector("#status").value = selectedStatus;
      document.querySelector("#gender").value = selectedGender;
      document.querySelector("#level").value = selectedLevel;
      document.querySelector("#department").value = selectedDepartment;

      // to disallow cut, copy or paste functionality
      $(document).ready(function () {
        $("body").bind("paste", function (e) {
          e.preventDefault();
        });
      });
    </script>
    <script src="{% static 'assets/java script/edit-student.js'%}"></script>
  </body>
</html>
