{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'assets/CSS/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/CSS/Search-Student.css'%}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/images/Logo-FCAI.jpg'%}"
    />
    <title>Search</title>
  </head>

  <body id="Search-Student-body">
    <nav>
      <ul>
        <li>
          <a href="index.html" name="index"> Home </a>
        </li>
        <li>
          <a href="view-students.html" name="view-students"> View students </a>
        </li>
        <li>
          <a href="edit-student-data.html" name="edit-student-data">
            Edit a student
          </a>
        </li>
        <li>
          <a href="add-student.html" name="add-student"> Add a new student </a>
        </li>
        <li>
          <a href="search-student.html" name="search-student">
            Search for a student
          </a>
        </li>
        <li>
          <a
            href="student-department-assignment.html"
            name="student-department-assignment"
          >
            Student department assignment
          </a>
        </li>
      </ul>
    </nav>
    <br />
    <p id="welcome">Welcome, you can Search for students from here:</p>
    <form class="search-box">
      <input
        class="search-txt"
        type="text"
        name="student"
        id="name-entered"
        placeholder="Search Student"
        onfocus="this.value=''"
      />
      <span class="show-names"
        >try names from view students page (only active students will
        appear)</span
      >
      <button
        type="button"
        class="search-btn"
        onclick="validation()"
        onclick="document.getElementById('myInput').value = ''"
      >
        <p id="s">Search</p>
      </button>
    </form>

    <div id="show-table">
      <table class="content-table" id="table-body">
        <thead>
          <tr id="row1">
            <th>Name</th>
            <th id="ID">ID</th>
            <th id="Year">Date</th>
          </tr>
        </thead>
        <tbody id="SS-tbody">
          <tr id="display_table"></tr>
        </tbody>
      </table>
    </div>
    {% block javascript %}
    <!-- to allow jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
      // to disallow "paste" functionality
      $(document).ready(function () {
        $("body").bind("paste", function (e) {
          e.preventDefault();
        });
      });
    </script>
    <script src="{% static 'assets/java script/Search-Student.js'%}"></script>
    <script>
      //----------------------------------------------------Ajax-----------------------------------------------------------------
      var temp, temp2, temp3, txt2;
      document.getElementById("row1").style.display = "none";
      document.getElementById("SS-tbody").style.display = "none";
      $("#name-entered").change(function (e) {
        e.preventDefault();
        var name = $(this).val();
        $.ajax({
          url: "/search_student/",
          data: {
            name: name.toLowerCase(),
          },
          dataType: "json",
          success: function (data) {
            if (data.is_found) {
              $("#SS-tbody").empty();
              document.getElementById("row1").style.display = "none";
              document.getElementById("SS-tbody").style.display =
                "table-row-group";
              for (var i in data.inform) {
                if (
                  data.inform[i].name == name.toLowerCase() &&
                  data.inform[i].status.toLowerCase() == "active"
                ) {
                  document.getElementById("row1").style.display = "table-row";
                  temp =
                    "<td>" +
                    data.inform[i].name
                      .toLowerCase()
                      .replace(/(^\w{1})|(\s{1}\w{1})/g, (match) =>
                        match.toUpperCase()
                      );
                  +"</td>";
                  temp2 = "<td>" + data.inform[i].studID + "</td>";
                  temp3 = "<td>" + data.inform[i].date + "</td>";
                  txt2 = $("<tr></tr>");
                  txt2.append(temp, temp2, temp3);
                  $("#SS-tbody").append(txt2);
                }
              }

              document
                .getElementById("table-body")
                .addEventListener("click", function () {
                  window.open("student-department-assignment.html", "_blank");
                });
            } else {
              document.getElementById("row1").style.display = "none";
              document.getElementById("SS-tbody").style.display = "none";
              if (name == "") {
              } else {
                alert("This student does not exist");
              }
            }
          },
        });
      });
    </script>
    {% endblock %}
  </body>
</html>
