{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/CSS/styles.css'%}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/CSS/Assign-Department.css'%}"
    />
    <link rel="stylesheet" href="{% static 'assets/CSS/Drop-Down.css'%}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/images/Logo-FCAI.jpg'%}"
    />
    <title>Assign Department</title>
  </head>
  <body id="assign-dept-body">
    <nav>
      <ul>
        <li>
          <a href="index.html" name="index"> Home </a>
        </li>
        <li>
          <a href="view-students.html" name="view-students"> View students </a>
        </li>
        <li>
          <a href="edit-student-data.html" name="edit-student-data">
            Edit a student
          </a>
        </li>
        <li>
          <a href="add-student.html" name="add-student"> Add a new student </a>
        </li>
        <li>
          <a href="search-student.html" name="search-student">
            Search for a student
          </a>
        </li>
        <li>
          <a
            href="student-department-assignment.html"
            name="student-department-assignment"
          >
            Student department assignment
          </a>
        </li>
        <!-- <li>
          <a href="Contact-Us.html"> Contact</a>
        </li> -->
      </ul>
    </nav>
    <div class="big-container">
      <div>
        <h1 class="h1">Assign Department</h1>
      </div>

      <div class="field-container">
        {% for message in messages %}
        <h3 class="header3">{{message}}</h3>
        {% endfor %}
        <form
          id="optionsForm"
          action="{% url 'student-department-assignment' %}"
          method="post"
        >
          {% csrf_token %}
          <div class="ID">
            <label><b>Student ID</b></label>
            <input
              type="text"
              name="studentID"
              id="student-id"
              placeholder="Enter ID"
              required
            />
          </div>

          <div class="Name">
            <label><b>Student Name</b></label>
            <input
              type="text"
              id="student-name"
              placeholder="Enter a name"
              required
              name="name"
            />
          </div>

          <div class="select-box" style="margin-top: 1rem">
            <label style="margin-top: 1rem; margin-right: 1rem"
              ><b>Choose Department</b></label
            >
            <div class="select-box-container">
              <div class="options-container">
                <div class="option">
                  <input
                    type="radio"
                    class="radio"
                    id="CS"
                    name="dept_choice"
                    value="CS"
                  />
                  <label for="CS"><b>Computer Science</b></label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    class="radio"
                    id="AI"
                    name="dept_choice"
                    value="AI"
                  />
                  <label for="AI"><b>Artificial Intelligence</b></label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    class="radio"
                    id="IT"
                    name="dept_choice"
                    value="IT"
                  />
                  <label for="IT"><b>Information Technology</b></label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    class="radio"
                    id="IS"
                    name="dept_choice"
                    value="IS"
                  />
                  <label for="IS"><b>Information Systems</b></label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    class="radio"
                    id="DS"
                    name="dept_choice"
                    value="DS"
                  />
                  <label for="DS"><b>Decision Support</b></label>
                </div>
              </div>
              <!-- value is empty so that it can be falsy (undefined) -->
              <div class="selected" id="selected-dept" value="">
                <b>Choose Department</b>
              </div>
              <input
                type="hidden"
                id="selected-dept-value"
                name="selected_department"
              />
            </div>
          </div>

          <div class="btn-assign">
            <button class="assign-btn" id="assign-btn" type="submit">
              Assign Department
            </button>
          </div>
        </form>
      </div>
    </div>

    <script src="{% static 'assets/java script/Drop-Down.js'%}"></script>
    <script src="{% static 'assets/java script/Assign-Department.js'%}"></script>
  </body>
</html>
