{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/CSS/styles.css'%}" />
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/Logo-FCAI.jpg'%}" />
    <link rel="stylesheet" href="{% static 'assets/CSS/view students.css'%}" />

    <title>view-students</title>
  </head>
  <body id="view-students">
    <nav>
      <ul>
        <li>
          <a href="index.html" name="index"> Home </a>
        </li>
        <li>
          <a href="view-students.html" name="view-students"> View students </a>
        </li>
        <li>
          <a href="edit-student-data.html" name="edit-student-data"> Edit a student </a>
        </li>
        <li>
          <a href="add-student.html" name="add-student"> Add a new student </a>
        </li>
        <li>
          <a href="search-student.html" name="search-student"> Search for a student </a>
        </li>
        <li>
          <a href="student-department-assignment.html" name="student-department-assignment">
            Student department assignment
          </a>
        </li>
      </ul>
    </nav>

    <div id="filter" class="dropdown-check-list" tabindex="100">
      <span class="anchor">Hide/Show columns</span>
      <ul class="items">
        <li>
          <input
            class="container-disabled-option"
            type="checkbox"
            name="col1"
            value="ID"
            disabled
            onclick="showhide(this,this.name)"
            checked
          />ID
        </li>
        <li>
          <input
            class="container-disabled-option"
            type="checkbox"
            name="col2"
            value="Student name"
            disabled
            onclick="showhide(this,this.name)"
            checked
          />Student Name
        </li>
        <li>
          <input
            class="container"
            type="checkbox"
            name="col3"
            value="Date of birth"
            onclick="showhide(this,this.name)"
            checked
          />Date of birth
        </li>
        <li>
          <input
            class="container"
            type="checkbox"
            name="col4"
            value="gpa"
            onclick="showhide(this,this.name)"
            checked
          />gpa
        </li>
        <li>
          <input
            class="container"
            type="checkbox"
            name="col5"
            value="gender"
            onclick="showhide(this,this.name)"
            checked
          />gender
        </li>
        <li>
          <input
            class="container"
            type="checkbox"
            name="col6"
            value="level"
            onclick="showhide(this,this.name)"
            checked
          />level
        </li>
        <li>
          <input
            class="container"
            type="checkbox"
            name="col7"
            value="Department"
            onclick="showhide(this,this.name)"
            checked
          />Department
        </li>
        <li>
          <input
            class="container"
            type="checkbox"
            name="col8"
            value="Email"
            onclick="showhide(this,this.name)"
            checked
          />Email
        </li>
        <li>
          <input
            class="container"
            type="checkbox"
            name="col9"
            value="mobile number"
            onclick="showhide(this,this.name)"
            checked
          />Mobile number
        </li>
        <li>
          <input
            class="container-disabled-option"
            type="checkbox"
            name="col10"
            value="status"
            disabled
            onclick="showhide(this,this.name)"
            checked
          />Status
        </li>
      </ul>
    </div>
    <form action="{% url 'view-students' %}" method="post">
      {%csrf_token%}
    <table class="contentTable">
      <caption>
        view students
      </caption>
      {%for message in messages %}
      <h4 style="text-align: center; color: white;" >{{message}}</h4>
      {%endfor%}
      <thead>
        <tr>
          <th class="col1">ID</th>
          <th class="col2">Student name</th>
          <th class="col3">date of birth</th>
          <th class="col4">gpa</th>
          <th class="col5">gender</th>
          <th class="col6">level</th>
          <th class="col7">Department</th>
          <th class="col8">Email</th>
          <th class="col9">Mobile number</th>
          <th class="col10">active status</th>
        </tr>
      </thead>
      <tbody id="content">
        {% for i in inform %}
        <tr>
          <td class="col1">{{i.studID}}</td>
          <td class="col2">{{i.name|title}}</td>
          <td class="col3">{{i.date}}</td>
          <td class="col4">{{i.gpa}}</td>
          <td class="col5">{{i.gender}}</td>
          <td class="col6">{{i.level}}</td>
          <td class="col7">{{i.department}}</td>
          <td class="col8">{{i.email}}</td>
          <td class="col9">{{i.mobile}}</td>
          <td class="col10" name="status">{{i.status}} </td>
          <td class="col11"><button type="submit" class="status" name="changeStatus"  onclick="change(this.id)">change status</button></td>
          
        </tr>
        {% endfor %}
        <input type="hidden" class="input" id="studentId" name="studentViewID">
        <input type="hidden" class="input" id="selected_status" name="status_In">
    </form>

      </tbody>
    </table>
    
    <script src="{% static 'assets/java script/view-students.js'%}"></script>
    <script>
      var x=document.getElementsByClassName("status");
      for(var i=0;i<x.length;i++)
      {
        x[i].setAttribute("id",`status${i + 1}`);
      }
    </script>
  </body>
</html>
