#edit-student-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/team2.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header1 {
    font-size: xxx-large;
    border: 2px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 2rem;
}

.header3 {
    font-size: large;
    border: 2px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2rem;
}

/* #fetch-btn{
    font-size: 0.8rem;
} */

.fetch-tooltip{
    font-size: small;
}

.update-tooltip{
    font-size: small;
}

.studentID {
    position: relative;
    display: inline-block;
    
}

.studentID .fetch-tooltip {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.5rem;
    padding: 5px 0;

    
    position: absolute;
    transform: translate(20%,-70%);
    
    z-index: 1;
    
}

.studentID:hover .fetch-tooltip {
    transition-timing-function: ease-in-out;
    opacity: 1;
    transition-duration: 0.5s;
}

.studentID .update-tooltip {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.5rem;
    padding: 5px 0;


    position: absolute;
    transform: translate(-150%,-75%);

    z-index: 1;

}

.studentID:hover .update-tooltip {
    transition-timing-function: ease-in-out;
    opacity: 1;
    transition-duration: 0.5s;
}

.big-container {


    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;

}

.field-container {
    padding: 3rem 3rem 4rem 4rem;    
    background-color: rgba(218, 95, 64, 0.9);
    border-radius: 3rem;
    transition-duration: 0.5s;
}

.field-container:hover {
    transition-duration: 0.5s;
    background-color: #da5f40;
    
}

input {
    padding: 0.5rem;
    margin: 1rem 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.66);
    transition-duration: 0.5s;
}
input[name="name"] {
    width: 15rem;
}

input[name="gpa"] {
    width: 2.5rem;
}

input[name="email"] {
    width: 15rem;
}

input:hover:not(#department) {
    transition-duration: 0.5s;
    background-color: white;
}

select {
    padding: 0.5rem;
    margin: 1rem 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.66);
    transition-duration: 0.5s;
}

select:hover{
    transition-duration: 0.5s;
    background-color: white;

}

.btn-add {
    text-align: center;
    padding-top: 1rem;
}

.add-btn {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.66);
    transition-duration: 0.5s;
}

.add-btn:hover {
    transition-duration: 0.5s;
    background-color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
    border: 2px solid #aaa;
    border-radius: 2rem;
    outline: none;
    transition: .3s;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px 0 rgb(0, 0, 0);
}

select:focus {
    border: 2px solid #aaa;
    border-radius: 2rem;
    outline: none;
    transition: .3s;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px 0 rgb(0, 0, 0);
}

/* old css edit below */

/* label {
    width: 10px;
    margin: 4px;
}*/

/* .form {
    border-radius: 10px;
    color: white;
    width: 500px;
    padding: 5px;
    margin: auto;


} */

/* input[type="text"] {
    width: 20rem;
     padding: 2px;
    font-size: 17px;
    border-radius: 10px; 

}

input[name="gpa"] {
    width: 2.5rem;
    padding: 2px;
    font-size: 17px;
    border-radius: 10px; 

}



input[type="email"] {
    width: 20rem;
    padding: 2px;
    font-size: 17px;
    border-radius: 10px;

} */




/* #delete-student {
    width: 250px;
    margin-top: 1px;
}

#edit-student {
    width: 250px;
    margin-left: 250px;
    margin-bottom: 5px;

}  */